:root {
  --main-color: #ffffff;
  --titles-color: #212121;
  --team-buttons-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
  --logo-text-color: #000;
  --description-header-link-color: #757575;
  --border-color: #EEEEEE;
  --header-border-color: #ECECEC;
  --hero-bg-color: #C4C4C4;
  --overlay: rgba(47, 48, 58, 0.4);
  --fill-icon-color: #AFB1B8;
  --btn-send-color: #188CE8;
  --modal-input-border:rgba(33, 33, 33, 0.2);
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;

}  

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
} 

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
} 

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
} 

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf");
  font-weight: 700;
} 

.page {
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  
}

.header {
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid var(--header-border-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 145px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header__logo {
  margin-right: 94px;
}

.footer__logo {
  display: block; 
  margin-right: 0;
  margin-bottom: 20px;
  }

.logo__label {
  color: var(--accent-color);
}

.logo--dark {
  color: var(--logo-text-color);
}

.logo--white {
  color: var(--main-color);
}

.flexbox {
  display: flex;
}

.nav {
  align-items: center;
}

.nav-menu {
  justify-content: space-between;

}

.nav-menu__item {
position: relative;
}

.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}


.nav-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: var(--titles-color);
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing);
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu__studio::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-menu__portfolio::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-menu__contacts::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.nav-contacts {
  margin-left: auto;
}

.nav-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.nav-contacts__link {
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  fill: var(--description-header-link-color);
  color: var(--description-header-link-color);
  letter-spacing: 0.02em;
  line-height: 1.1429;
  transition: color 250ms var(--timing), fill 250ms var(--timing);
}


.nav-contacts__link:hover,
.nav-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.nav-contacts__icon {
margin-right: 10px;
}


.nav-contacts__envelope {
  width: 16px;
  height: 12px;
}

.nav-contacts__smartphone {
  width: 10px;
  height: 16px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  
  background-color: var(--hero-bg-color); 
  background-image: linear-gradient(to right,var(--overlay),var(--overlay)), url('../img/hero-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 696px;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  color: var(--main-color);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.button {
  display: block;
  border: 0px;
  font-size: 16px;
  font-weight: 700;
  color: var(--main-color);
  line-height: 1.875;
  letter-spacing: 0.06em;
  
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero__button {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.section {
padding-bottom: 94px;
}

.section--start {
  padding-top: 94px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;  
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  color: var(--titles-color);
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.benefits {
  flex-wrap: wrap;
}

.benefits__item {
  flex-basis: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.benefits__item:nth-child(4n) {
  margin-right: 0;
}

.benefits__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-buttons-bg-color);
  background-position: center;
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

.benefits__item:nth-child(1)::before {
  background-image: url('../img/antenna.svg');
}

.benefits__item:nth-child(2)::before {
  background-image: url('../img/clock.svg');
}

.benefits__item:nth-child(3)::before {
  background-image: url('../img/diagram.svg');
}

.benefits__item:nth-child(4)::before {
  background-image: url('../img/astronaut.svg');
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.15;
  color: var(--titles-color);
  text-transform: uppercase;
  
}

.benefits__description {
  margin: 0;
  font-size: 14px;
  line-height: 1.79;
  color: var(--description-header-link-color);
}



.occupation {
  flex-wrap: wrap;
  font-size: 0;
}

.occupation__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;

}

.occupation__item:nth-child(3n) {
  margin-right: 0px;
}

.ocuupation__thumb {
  position: relative;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.occupation__label{
  position: absolute;
  margin: 0;
  width: 100%;
  height: 70px;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}

.occupation__title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.section--grey {
  background-color: var(--team-buttons-bg-color);
}

.team {
  flex-wrap: wrap;
}

.team__item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
  padding-bottom: 30px;

  text-align: center;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:nth-child(4n) {
  margin-right: 0px;  
}

.team__img {
  margin-bottom: 30px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  color: var(--titles-color);
}

.team__position {
  margin-top: 0;
  margin-bottom: 16px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--description-header-link-color);
}

.social {
  justify-content: center;
}

.social__item {
  font-size: 0;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon { 
 width: 20px;
 height: 20px;
 fill: var(--fill-icon-color);
 transition: fill 250ms var(--timing);
}

.social__link {
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: var(--main-color);
  border-radius: 50%;
  transition: background-color 250ms var(--timing);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--main-color);
}

.clients {
  flex-wrap: wrap;
  font-size: 0;
}

.clients__item {
 width: calc((100% - 5 * 30px) / 6);
 height: 90px;
 border: 1px solid var(--fill-icon-color);
 border-radius: 4px;
}


.clients__item:not(:nth-child(6n)){
  margin-right: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--fill-icon-color);
  transition: border 250ms var(--timing);
}

.clients__icon {
  fill: var(--fill-icon-color);
  transition: fill 250ms var(--timing);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.yago {
  width: 44.27px;
  height: 49.23px;
}

.tagline {
  width: 40px;
  height: 52px;
}

.company {
  width: 41px;
  height: 42.6px;
}

.foster-peters {
  width: 79.66px;
  height: 42.02px;
}

.brand {
  width: 59px;
  height: 47px;
}

.Comp-tagline {
  width: 88.48px;
  height: 45.44px;
}

.footer {
  padding: 60px 0px;

  color: var(--main-color);
  background-color: var(--footer-bg-color);
}

.footer__container {
 align-items: flex-start;
 justify-content: center;
}

.contacts {
  margin-right: 70px;
  width: 231px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

.address__link {
  display: block;
  margin-top: 9px;
  font-weight: 400;
  text-decoration: none;
  color: var(--main-color);
  opacity: 0.6;
}

.join {
margin-right: 93px;
}

.join__text, 
.subscribe__text {
display: block;
margin-top: 0;
margin-bottom: 20px;

font-size: 14px;
font-weight: 700;
line-height: 1.143;
text-transform: uppercase;
color: var(--main-color);
}


.social__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  
}

.social__icon--white {
  fill: var(--main-color);
}

.subscribe-form__input {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  
}

.button__icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button__icon--end {
margin-left: 10px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 1000ms linear;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto; 
}

.backdrop .modal {
  padding: 40px 39px 40px 41px;
}

.is-hidden .modal{
  top: -100%;
  opacity: 0;
  transform: translateX(-50%) scale(0.1);
}

.modal {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  background-color: var(--main-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: all 1000ms;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;  
  outline: none;
  border-radius: 50%;
  border-color: var(--main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  transition: fill 250ms linear;
}

.button-close:hover {
  cursor: pointer;
}

.button-close:hover .button-close__icon{
  fill: var(--accent-color);
}

.button-close__icon {
  fill: var(--logo-text-color);
  width: 18px;
  height: 18px;
  transition: fill 300ms linear;
}

.modal__text {
display: block;
text-align: center;
margin-bottom: 12px;

font-weight: 700;
font-size: 20px;
line-height: 1.15;
color: var(--titles-color);
letter-spacing: 0.03em;
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.form-field {
  flex-direction: column;
  margin-bottom: 10px;
}


.input-wrap {
  position: relative;
}

.form-field__input {
  width: 100%;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 42px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  outline: none;
}

.form-field__label {
  font-size: 12px;
  line-height: 1.167;
  margin-bottom: 4px;
  color: var(--description-header-link-color);  
  letter-spacing: 0.01em;
}

.form-field__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  width: 18px;
  height: 18px;
  fill: var(--titles-color);
}

.form-field__input:focus {
  border-color: var(--accent-color);
 }

 .form-field__input:focus ~ .form-field__input-icon {
  fill: var(--accent-color);
}

.form-field__input:focus:not(:placeholder-shown):valid {
  border: 1px solid green;
}

.form-field__input:not(:placeholder-shown):invalid {
  border: 1px solid red;
}

.form-field__input:focus:not(:placeholder-shown):valid ~ .form-field__input-icon {
  fill: green;
}

.form-field__input:not(:placeholder-shown):invalid ~ .form-field__input-icon {
  fill: red;
}


.form-field__textarea {
  resize: none;
  width: 100%;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  outline: none;
}

.form-field__textarea::placeholder {
  font-size: 14px;
  line-height: 1.167  ;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea:focus {
  border-color: var(--accent-color);
}

.form__button {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 56px;
  background-color: var(--btn-send-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
 }

.form__checkbox-label {
  display: block;
  width: calc(100% - 11.5px*2);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-header-link-color);
}

.form__checkbox+.form__checkbox-icon::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px; 
  margin-right: 7px;
  vertical-align: middle;
  border: 2px solid var(--titles-color);
  border-radius: 2px;  
  } 

  .form__checkbox:checked+.form__checkbox-icon::before {
    border-color: transparent;
    background-color: var(--accent-color);
    background-image: url('../img/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
  
.form__checkbox-link {
  color: var(--accent-color);
}

/*стили отдельных елементов страници portfolio.html*/

.filters {
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;  
  padding-bottom: 16px;  
}


.filters__item:not(:last-child){
  margin-right: 8px;
}

.filters__button {
  padding: 6px 22px;
  background-color: var(--team-buttons-bg-color);
  font-weight: 500;
  color: var(--titles-color);
  line-height: 1.625;
  letter-spacing: 0.03em;
  
  box-shadow: none;

  transition: background-color 250ms var(--timing), color 250ms var(--timing), box-shadow 250ms var(--timing);
}

.filters__button:hover,
.filters__button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  flex-wrap: wrap;
}

.projects__item {
  flex-basis: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 0;


  border: 1px solid var(--border-color);
}

.projects__item:nth-child(3n){
  margin-right: 0;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}


.projects__link {
  text-decoration: none;
}

.project-card {
  transition: box-shadow 250ms var(--timing);
}

.project-card:hover,
.project-card:focus {
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__link:hover .projects-overlay,
.projects-card:focus .projects-overlay {
 transform: translatey(0);
}

.projects-card__poster {
  max-width: 100%;
  height: 100%;
 
}

.text-container{
  margin-right: 24px;
  margin-left: 24px;    
  padding-bottom: 20px;
}


.projects-card__title {
  margin-top: 0;
  margin-bottom: 4px;
  padding: 0;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-color);
}

.projects-card__description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--description-header-link-color);
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.project-thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.projects-overlay {
  position: absolute;
  background-color: var(--accent-color);
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;    
  transform: translatey(100%);
  transition: transform 250ms var(--timing); 
}


.projects-overlay__text {  
margin: 0;
font-size: 18px;
line-height: 1.56;
color: var(--main-color);
}